<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<meta charset="UTF-8">
			<title>
				{% block title %}Welcome!
				{% endblock %}
			</title>
			<link
			rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		

		{% endblock %}
	</head>
	<body>
		<div id="app"> {% block body %}{% endblock %}
			</div>

			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}

			{% endblock %}

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script type="text/javascript">
    // On initialise la latitude et la longitude de Paris (centre de la carte)
    // var lat = "<?php echo $data->coord->lat; ?>";
    // var lon = "<?php echo $data->coord->lon; ?>";
    var macarte = null;
    // Fonction d'initialisation de la carte
    function initMap() {
        // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
        macarte = L.map('map').setView([lat, lon], 12);
        // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
        L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            // Il est toujours bien de laisser le lien vers la source des données
            attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
            minZoom: 5,
            maxZoom: 15
        }).addTo(macarte);
        var marker = L.marker([lat, lon]).addTo(macarte);
        marker.bindPopup('<?php echo $data->name; ?>');
    }
    window.onload = function() {
        // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
        initMap();
    };
</script>
		</body>
	</html>
